.icon {
  margin-right: 97%;
}

.icon:hover {
  border: 3px solid transparent;
  animation: alternate;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('proj-bg-1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% 150vh;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}


button:hover {
  background-color: #575757;
  color: navy;
}

.forgot-password-container button {
  display: block;
  width: 200px;
  margin: 20px auto;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.forgot-password-container img {
  vertical-align: middle;
  margin-right: 10px;
}

.navbar {
  background-color:transparent;
  overflow: hidden;
  margin: auto;
  margin-bottom: 17px;
  bottom: 5px;
}

.navbar a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

button:hover {
  background-color: #678760;
  color: navy;
}


input {
  background-color: lightgray;
}



.logo img {
  width: 120px;
}

.login-form {
  margin-top: 20px;
}

.input-group {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.input-group label {
  margin-right: 10px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

.forgot-password-container h2 {
  margin-bottom: 3px;
}

.forgot-password-container p {
  margin-bottom: 10px;
}

.forgot-password-container {
  width: 40%;
  height: 10%;
  padding-bottom: 3%;
  padding-top: 3%;
  align-self: center;
  margin-left: 35%;
  margin-right: 45%;
  margin-top: 15%;
  background-color: white;
}
.forgot-password , .fa-question
{
color: #007bff;
}
.forgot-password-container input {
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.forgot-password-container button {
  width: 50%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.forgot-password-container button:hover {
  background-color: #45a049;
}

.title {
  background-color: rgba(231, 237, 243, 0.548);
  color: blue;
  height: 70px;
  font-size: 25px;
  padding-top: 3%;
  text-align: center;
  font-weight: bold;
  margin-top: 40px;
}
